<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('head')%>
    <title><%=title%></title>
</head>
<body>
    <%-include('header')%>
   <div class='writeArea'>
       <form method='PUT' action="/todo/edit/" class='form'>
           <div class='formTitle'>Edit</div>
           <input name='id' type='text' hidden='true' value='<%=todo.id%>'/>
           <div class='formItem'><input name='title' type='text' placeholder="Title" required value='<%=todo.title%>' class='writeInput'/></div>
           <div class='formItem'><input name='date' type='date' placeholder="Date" required value='<%=todo.date%>' class='writeInput'/></div>
           <div class='formItem'><textarea name='text' rows='15' required placeholder="Input todo" class='writeText'><%=todo.text%></textarea></div>
           <div class='formItem'><input type='submit' class='submitBtn'/></div>
       </form>
   </div>
</body>
</html>