<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('head')%>
    <title><%=title%></title>
</head>
<body>
    <%-include('header')%>
    <div class='todosArea'>
        <div class='todos'>
            <% for(let i=0; i<todos.length; i++){ %>
                <div class='todo'>
                    <% if(todos[i].priority) { %>
                        <div class='todoHeaderUrgent'>
                            <div class='todoTitleDateUrgent'>
                                <%= todos[i].title %>
                            </div>
                            <div class='todoTitleDateUrgent'>
                                <%= todos[i].date %>
                            </div>
                            <div class='todoHeaderBtns'>
                                <button onclick="location.href='/todo/<%=todos[i].id%>'" class='todoHeaderBtnUrgent'>Edit</button>
                                <button onclick="deleteTodo('<%=todos[i].id%>')" class='todoHeaderBtnUrgent' >Delete</button>
                            </div>
                        </div>
                    <% } else {%>
                        <div class='todoHeader'>
                            <div class='todoTitleDate'>
                                <%= todos[i].title %>
                            </div>
                            <div class='todoTitleDate'>
                                <%= todos[i].date %>
                            </div>
                            <div class='todoHeaderBtns'>
                                <button onclick="location.href='/todo/<%=todos[i].id%>'" class='todoHeaderBtn'>Edit</button>
                                <button onclick="deleteTodo('<%=todos[i].id%>')" class='todoHeaderBtn'>Delete</button>
                            </div>
                        </div>
                    <% }%>
                    <div class="todoWithBtns">
                        <div class='text'>
                            <%= todos[i].text %>
                        </div>
                        <div class='btns'>
                            <button onclick="priorityUp('<%=todos[i].id%>', '<%=todos[i].priority%>')" class='btn'>up</button>
                            <button onclick="priorityDown('<%=todos[i].id%>', '<%=todos[i].priority%>')" class='btn'>down</button>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
    <script src='../script/todo.js'></script>
</body>
</html>`